.code-text-input {
  font-size: 20px !important;
  line-height: 26px !important;
  font-family: "ui-monospace", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}
